IMAGE_NAME="MAOS"

REPO_ORGANIZATION="MAnitosik"

IMAGE_DESC="MAnitosik OS"
IMAGE_KEYWORDS="bootc,oci,linux"

IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/86661877?v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
